name: workflow-build

on:
  push:
    branches: [ dev ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Cache Maven packages
        uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      # Build
      - name: Build and test project
        run: ./mvnw -B -ntp clean verify

      # Keep artifacts
      - name: Upload artifact for tests
        uses: actions/upload-artifact@v2
        with:
          name: latest-snapshot
          path: target/bonita-java-client-*
      - name: Upload artifact pom for tests
        uses: actions/upload-artifact@v2
        with:
          name: latest-snapshot-pom
          path: pom.xml

      # Push snapshots to maven central
      - name: Push snapshots to Maven central
        uses: samuelmeuli/action-maven-publish@v1
        with:
          gpg_private_key: ${{ secrets.gpg_private_key }}
          gpg_passphrase: ${{ secrets.gpg_passphrase }}
          nexus_username: ${{ secrets.ossrh_username }}
          nexus_password: ${{ secrets.ossrh_password }}